/*
    Colors
*/
$main: #190af1;
$dark-gray: #333;
$medium-gray: #666;
$light-gray: #999;
$white-gray: #EEE;
$primary: #3483FA;
$white: #FFF;

/*
    Paddings
*/
$padding-lg: 32px;
$padding-sm: 16px;
$padding-xs: 10px;

/*
    Font sizes
*/
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-46: 46px;